.about {
    background-color: #84A178;
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 61px;

}



.about__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 0.04em;

    @media screen and (min-width:768px) {
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;

    }
}

.about__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media screen and (min-width:768px) {

        font-size: 34px;
        line-height: 43px;
        letter-spacing: 0.06em;
        margin-bottom: 72px;
    }
}

.about__card {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.about__decoration {
    position: relative;
    max-width: 279px;
    height: 278px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
        #D9D9D9;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 62px;
}

.about__list {
    list-style: none;
    padding: 0;
}

.about__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;

}

.mobile-hidden {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
    }
}

/* тут поправить маржины когда scss файл будет */
.about__description:last-child {
    margin-bottom: 10px;

    @media screen and (min-width:768px) {
        margin-bottom: 8px;
    }
}

.about__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background-color: #F8D24E;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 50px;

}