.contacts {
  padding-bottom: 60px;
  background-color: var(--green-linear-gradient);
}

.text__styles {
  font-weight: 500;
  font-size: 12px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.contacts__item {
  background-color: #fcfcfc;
  box-shadow: var(--shadows-contacts);
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 3);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 64px) / 3);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.contacts__item-container {
  padding: 40px 32px 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-grey);
}

.contacts__link {
  display: inline-block;
  padding: 4px 22px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
  background-color: var(--yellow-accent);
  border-radius: 4px;
}

.contacts__title {
  margin-bottom: 8px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
}

.contacts__address {
  margin-bottom: 24px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--brown-accent);
}

.schedule__container {
  padding: 24px 32px;
  border-bottom: 1px solid var(--light-grey);
}

.schedule__title {
  line-height: 1.86;
  color: var(--black-color);
}

.schedule__timetable {
  line-height: 1.86;
  color: var(--disabled-grey);
}

.address__container {
  padding: 24px 32px;
}

.address__link {
  line-height: 1.6;
  color: var(--primary-text-color);
}

.address__link:not(:last-child) {
  margin-bottom: 6px;
}

.contacts__btns {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.contacts__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  cursor: pointer;
  border-radius: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__btn-first {
  color: var(--primary-text-color);
  background-color: var(--yellow-accent);
  border: none;
  margin-bottom: 16px;

  &:hover {
    background-color: var(--green-hover-focus);
  }

  &:focus {
    color: var(--whity-color);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.contacts__btn-second {
  color: var(--black-color);
  border: 2px solid var(--yellow-accent);
  background-color: var(--green-bg);

  &:hover {
    border: 2px solid var(--green-hover-focus);
  }

  &:focus {
    color: var(--whity-color);
    border: 2px solid var(--green-hover-focus);
  }
}

.contacts__btn-icon {
  margin-left: 7px;
}
