.gallery {
  background-image: linear-gradient(
    to bottom,
    var(--green-bg) 20%,
    transparent 20%
  );
}

.swiper {
  max-width: 280px;
  height: 130px;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
    max-width: 704px;
    height: 327px;
  }
  @media screen and (min-width: 1200px) {
    border-radius: 28px;
    max-width: 1013px;
    height: 422px;
  }
}
