.hero {
  background-color: #84a178;
}
.hero_container {
  position: relative;
  //   outline: 2px solid green;
  //   outline-offset: -2px;
  padding-top: 50px;
  padding-bottom: 237px;

  @media screen and (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 45px;
    padding-bottom: 0;
  }

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  //   mobile screen
  background-image: url(../images/hero/points_s@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/points_s@2x.png);
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/points_m@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/points_m@2x.png);
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero/points_l@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/points_l@2x.png);
  }
}

.hero_title {
  margin-bottom: 32px;
  max-width: 247px;

  font-family: var(--title-font);
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  text-transform: uppercase;

  color: #fcfcfc;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 367px;
    margin-bottom: 28px;

    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.hero_title--accent {
  font-size: 34px;
  line-height: calc(33 / 34);

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

// Оформлення кнопок

// Перша кнопка

.hero-buttons_list {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 42px;
  }
}

.hero-buttons_link--first {
  padding: 9px 24px;
  margin-right: 12px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: normal;

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  color: var(--black-color);

  border: 2px solid var(--yellow-accent);
  border-radius: 8px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buttons_link--first:hover {
  border-color: var(--green-hover-focus);
}
@media screen and (min-width: 768px) {
  .hero-buttons_link--first:focus {
    color: #fcfcfc;
    border-color: var(--green-hover-focus);
  }
  .hero-buttons_link--first:visited {
    border-color: var(--disabled-grey);
  }
}

// Друга кнопка
.hero-buttons_link--second {
  padding-top: 7px;
  padding-bottom: 7px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: normal;
  text-decoration-line: underline;
  color: var(--yellow-accent);

  @media screen and (min-width: 768px) {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2px;
    padding-right: 2px;

    font-size: 14px;
    line-height: calc(17 / 14);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 22px;
    padding-right: 21px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buttons_link--second:hover {
  color: var(--green-hover-focus);
}

.hero-buttons_link--second:focus {
  color: #fcfcfc;
}

.hero-buttons_link--second:visited {
  color: var(--disabled-grey);
}

// Зображеня великого морозива

.hero_img--first {
  position: absolute;
  bottom: 0;

  @media screen and (max-width: 767px) {
    right: 50%;
    transform: translate(50%);
  }

  @media screen and (min-width: 768px) {
    right: 92px;
  }
}
// Зображеня тарілки з морозивом
.hero_thumb--big {
  display: flex;
  align-items: center;
}
.hero_img--second {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 65px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero_thumb--small {
  margin-left: 32px;

  @media screen and (min-width: 1200px) {
    margin-left: 16px;
  }
}

.hero_text {
  max-width: 139px;
  letter-spacing: normal;
  margin-bottom: 12px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);

    color: #fcfcfc;
  }
  @media screen and (min-width: 1200px) {
    max-width: 200px;
    margin-bottom: 24px;

    font-size: 14px;
    line-height: calc(20 / 14);
  }
}
.hero_arrow {
  fill: #fcfcfc;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

// Статистика
.statistics_list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  top: 28px;
  right: 0;

  margin-right: 32px;

  @media screen and (min-width: 1200px) {
    margin-right: 16px;
    top: 53px;
    // margin-top: 53px;
  }
}

.statistics_item {
  text-align: right;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.statistics_text-first {
  margin-bottom: 4px;

  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28);

  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}

.statistics_text-second {
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);
  color: #fcfcfc;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
