//      modal global style

.backdrop {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  overflow-y: scroll;
}

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;


  overflow-y: scroll;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.active {
  transform: perspective(568px) translate(-50%, -50%) rotateX(0deg);
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;

  width: calc(100vw - 30px);


  top: 50%;
  left: 50%;
  transform: perspective(568px) translate(-50%, -300%) rotateX(45deg);
  z-index: 50;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid var(--yellow-accent);

  padding: 28px;
  background-color: var(--text-color-light);

  transition: all 0.7s cubic-bezier(.4, 0, .2, 1);

  @media screen and (min-width: 480px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 60px;
  }

}

//       end modal global style

.franchise-modal__title {
  font-family: var(--title-font);
  margin: 0 auto;
  text-align: center;

  margin-bottom: 20px;

  font-size: 20px;
  line-height: 28px;

  @media screen and (min-width: 768px) {
    width: 322px;
    margin-bottom: 24px;
  }
}

.franchise-modal__text {
  align-items: center;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 140%;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 32px;
  }
}

.franchise-modal__form {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.franchise-modal__input {
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding: 8px 12px;
  margin-bottom: 16px;

  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  color: var(--primary-text-color);

  transition: border .25s cubic-bezier(.4, 0, .2, 1);

  &:focus {
    outline: 2px solid var(--green-hover-focus);
    border: none;
  }

  &:hover {
    outline: 2px solid var(--green-hover-focus);
    border: none;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    padding: 11px 16px;
  }
}

.franchise-modal__message {
  width: 100%;
  height: 64px;
  margin-bottom: 12px;
  padding: 8px 12px;

  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--green-bg);
  border-radius: 10px;

  transition: border .25s cubic-bezier(.4, 0, .2, 1);

  &:focus {
    outline: 2px solid var(--green-hover-focus);
    border: none;
  }

  &:hover {
    outline: 2px solid var(--green-hover-focus);
    border: none;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    padding: 11px 16px;
    margin-bottom: 32px;
  }
}

.modal-btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: inherit;

  position: relative;
  overflow: hidden;

  font-family: var(--primery-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  padding: 12px 34px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--yellow-accent);
  color: var(--primary-text-color);

  transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1);
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: var(--green-hover-focus);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn:hover .transition {
  width: 14em;
  height: 14em;
}

.modal-btn:active {
  transform: scale(0.97);
  color: var(--whity-color);
}

.modal-btn:active:disabled {
  background-color: --disabled-grey;
  color: var(--primary-text-color);

}


// =====================================
.close-btn-modal {
  position: absolute;
  top: 12px;
  right: 12px;

  display: inline-flex;
  align-items: center;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
  background-color: transparent;

  transition: transform .25s cubic-bezier(.4, 0, .2, 1);



  & {
    opacity: .7;
    cursor: pointer;
    // line-height: 1;
  }

  &:hover {
    opacity: 1;
    transform: rotate(90deg);
    fill: var(--green-hover-focus);
  }

  &:active {
    width: 24px;
    fill: var(--yellow-accent);
  }
}

.modal__icon-close {
  width: 20px;
  height: 20px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}