.location-modal {
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 468px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 60px;
  }
}

.location-modal__title {
  padding-bottom: 20px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  color: var(--primary-text-color);
}

.location-modal__thumb {
  padding-bottom: 20px;
}

.location-modal__link-map {
  font-size: 12px;
  line-height: 15px;
}