.reviews {
  padding-top: 20px;
  padding-bottom: 20px;

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media screen and (max-width: 768px) {
    background-image: url(../images/customer-reviews/icecream-bcg.png),
      linear-gradient(to bottom, #84a178 24px, #f5f5f5 24px, #f5f5f5 100%);

    @media (min-resolurion: 2dppx) {
      background-image: url(../images/customer-reviews/icecream-bcg-2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 100%;
    padding-top: 300px;
    padding-bottom: 350px;
    background-position: 0 150px, 0 0;
    background-size: contain;
    background-image: url(../images/customer-reviews/icecream-bcg-tablet.png),
      linear-gradient(to bottom, #84a178 150px, #f5f5f5 150px, #f5f5f5 100%);

    @media (min-resolurion: 2dppx) {
      background-image: url(../images/customer-reviews/icecream-bcg-tablet-2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 100%;
    padding-top: 300px;
    padding-bottom: 200px;
    background-position: 0 80px, 0 0;
    background-size: cover;
    background-image: url(../images/customer-reviews/icecream-bcg-desktop.png),
      linear-gradient(to bottom, #84a178 80px, #f5f5f5 80px, #f5f5f5 100%);

    @media (min-resolurion: 2dppx) {
      background-image: url(../images/customer-reviews/icecream-bcg-desktop-2x.png);
    }
  }
}

.reviews__slider {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.reviews__foto {
  max-width: 280px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 100%;
  }
}

.reviews__icon {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 150px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 290px;
    margin-bottom: 28px;
  }
}
.reviews__block {
  max-width: 280px;
  padding: 40px 60px;
  margin: auto;

  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 31px;
  color: #fcfcfc;
  text-align: center;

  background-color: var(--green-bg);
  border-radius: 10%;
  @media screen and (min-width: 768px) {
    max-width: 100%;
    border-radius: 24px;

    padding: 28px 80px;
  }
  @media screen and (min-width: 1200px) {
    padding: 43px 109px;
  }
}
.reviews__name {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;

  display: block;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 12px;

  color: var(--primary-text-color);
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}
