@import './common';


//base styles
@import './base/variables';
@import './base/base';
@import './base/reset';
@import './base/visually-hidden';

//main stalys
@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './reviews';
@import './contacts';
@import './footer';


//modal styles
@import './modal_buy_now';
@import './modal_info_product';
@import './modal_read_more';
@import './modal_location';
@import './modal_franchise';