<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item-cow">
        <p class="advantages__title">721</p>
        <span class="advantages__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
      <li class="advantages__item advantages__item-weight">
        <p class="advantages__title">16kg</p>
        <span class="advantages__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
      <li class="advantages__item advantages__item-ice">
        <p class="advantages__title">84</p>
        <span class="advantages__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
    </ul>
  </div>
</section>
