<section class="contacts">
  <div class="contacts__container container">
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__item-container">
          <a href="" class="contacts__link">CAFE</a>
          <h2 class="contacts__title" id="contact">Chicago</h2>
          <a href="" class="contacts__address contacts__address-current"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <div class="schedule__container">
          <h3 class="schedule__title">Monday - Friday</h3>
          <p class="schedule__timetable">06:00 AM - 10:00 PM</p>
          <h3 class="schedule__title">Saturday - Sunday</h3>
          <p class="schedule__timetable">08:00 AM - 16:00 PM</p>
        </div>
        <div class="address__container">
          <a href="tel:+610383766284" class="address__link address__link-current"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="address__link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__item-container">
          <a href="" class="contacts__link">FOODTRUCK</a>
          <h2 class="contacts__title">Los Angeles</h2>
          <a href="" class="contacts__address contacts__address-current"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
        <div class="schedule__container">
          <h3 class="schedule__title">Monday - Friday</h3>
          <p class="schedule__timetable">06:00 AM - 10:00 PM</p>
          <h3 class="schedule__title">Saturday - Sunday</h3>
          <p class="schedule__timetable">08:00 AM - 16:00 PM</p>
        </div>
        <div class="address__container">
          <a href="tel:+610383766284" class="address__link address__link-current"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="address__link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__item-container">
          <a href="" class="contacts__link">CAFE</a>
          <h2 class="contacts__title">New York</h2>
          <a href="" class="contacts__address contacts__address-current"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
        <div class="schedule__container">
          <h3 class="schedule__title">Monday - Friday</h3>
          <p class="schedule__timetable">06:00 AM - 10:00 PM</p>
          <h3 class="schedule__title">Saturday - Sunday</h3>
          <p class="schedule__timetable">08:00 AM - 16:00 PM</p>
        </div>
        <div class="address__container">
          <a href="tel:+610383766284" class="address__link address__link-current"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="address__link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts__btns">
      <button class="contacts__btn contacts__btn-first" type="submit">
        Our Locations
        <svg class="contacts__btn-icon" width="5" height="10">
          <use href="./images/symbol-defs.svg#icon-vector-button"></use>
        </svg>
      </button>
      <button class="contacts__btn contacts__btn-second" type="submit">
        Franchise
        <svg class="contacts__btn-icon" width="5" height="10">
          <use href="./images/symbol-defs.svg#icon-vector-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
