<footer class="footer-site">
  <div class="container">
    <div class="footer-site__first-div">
      <p class="footer-site__text">homemade ice cream made</p>
      <p class="footer-site__title">with passion</p>
    </div>

    <div class="footer-site__second-div">
      <ul class="footer-site__list">
        <li class="footer-site__item">
          <a
            href="https://github.com/"
            target="_blank"
            class="footer-site__link"
          >
            <svg class="footer-site__icon">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-site__item">
          <a
            href="https://web.telegram.org"
            target="_blank"
            class="footer-site__link"
          >
            <svg class="footer-site__icon">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-site__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="footer-site__link"
          >
            <svg class="footer-site__icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-site__contacts">
        Feel free to contact
        <a href="tel:+61(0)383766284" class="footer-site__tel"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="footer-site__sign">
    <p class="footer-site__sign-text">
      <b>© 2022 - IceCream. All Rights Reserved.</b>
    </p>
  </div>
</footer>
