<footer class="footer-site">
  <div class="container">

    <div class="footer-site__wrap">
    <div class="footer-site__first-div">
      <p class="footer-site__text">homemade ice cream made</p>
      <p class="footer-site__title">with passion</p>
    </div>

    <div class="footer-site__second-div">
      <ul class="footer-site__sosial-list">
        <li class="footer-site__item">
          <a
            href="https://github.com/"
            target="_blank"
            class="footer-site__link"
          >
            <svg class="footer-site__icon" width="34" height="34">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-site__item">
          <a
            href="https://web.telegram.org"
            target="_blank"
            class="footer-site__link"
          >
            <svg class="footer-site__icon" width="34" height="34">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-site__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="footer-site__link"
          >
            <svg class="footer-site__icon" width="34" height="34">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

        <div class="footer-site__tel">
        <span class="footer-site__contacts"> <b>Feel free to contact</b> </span>
        <a href="tel:+61(0)383766284" class="footer-site__tel"
          >+61 (0) 383 766 284</a>
        </div>

        </div>
    </div>

  

  <div class="footer-site__sign">
    <span class="footer-site__sign-text">
      © 2022 - IceCream. All Rights Reserved.
    </span>
  </div>

  </div>
</footer>
