<header class="page-header">
  <div class="container page-header_container">
    <a class="logo" href="#">
      <svg class="logo_img" width="40" height="37">
        <use href="./images/symbol-defs.svg#icon-ice-crema"></use>
      </svg>
    </a>
    <!-- Кнопка для мобільного меню -->
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-icon-open" width="32" height="32">
        <use href="./images/symbol-defs.svg#eva_menu-fill"></use>
      </svg>
    </button>

    <!-- Меню для -->
  </div>
</header>
