<section class="container hero">
    <h1>Title</h1>
    <p>У шапці знаходиться лого, меню навігації та кнопка.
    
    Лого на макеті відображено у форматі png.
    
    Меню навігації на мобільній та планшетній версії відображається як бокова панель, що виїжджає. Мобільне меню фіксоване,
    висота відповідає висоті в'юпорту. Меню реалізовано якірними посиланнями, які ведуть до відповідних розділів макета.
</p>
<ul>
    <li>Кнопка “Buy now” відкриває модальне вікно з формою замовлення (реалізація модального вікна не є обов'язковим завданням).</li>
    <li>Текст “Ice cream made with passion” є заголовком сторінки.</li>
    <li>Кнопки “Products” та “How it's made”, розміщені під заголовком, є якірними посиланнями на відповідні розділи.</li>
    <li>Картинки на Hero спозиціонувати абсолютно. Додатково їм можна зробити анімовану появу під час завантаження сторінки.</li>
</ul>
<a href="">web site</a>
</section>