<div class="backdrop">
  <div class="franchise-modal modal" data-modal="franchise">
    <button type="button" class="franchise-modal__close-btn close-btn-modal js-modal-close">
      <svg class="modal__icon-close">
        <use href="./images/symbol-defs.svg#icon-close-modal"></use>
      </svg>
    </button>
    <p class="franchise-modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="franchise-modal__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional information.
      We appreciate your patience.
    </p>

    <form class="franchise-modal__form" action="franchis-modal__form">
      <label class="franchise-modal__field">
        <input class="franchise-modal__input" type="text" name="name" placeholder="Name" required />
      </label>

      <label class="franchise-modal__field">
        <input class="franchise-modal__input" type="tel" name="name" placeholder="Phone" required />
      </label>

      <label class="franchise-modal__field">
        <input class="franchise-modal__input" type="email" name="name" placeholder="Email" required />
      </label>

      <label class="franchise-modal__field">
        <textarea class="franchise-modal__message" name="comments" rows="8" placeholder="Comment"></textarea>
      </label>
      <button class="franchise-modal__modal-btn modal-btn" type="submit">
        <span class="transition"></span>
        <span class="gradient"></span>
        <span class="label">Submit</span>
      </button>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>