<div class="location-modal modal" data-modal="location">
  <button type="button" class="location-modal__close-btn close-btn-modal js-modal-close">
    <svg class="modal__icon-close">
      <use href="./images/symbol-defs.svg#icon-close-modal"></use>
    </svg>
  </button>
  <h2 class="location-modal__title">Our Locations</h2>
  <div class="location-modal__thumb">
    <iframe class="map-iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41386.6285564006!2d34.53251769872161!3d49.58522129635465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgMzYwMDA!5e0!3m2!1sru!2spl!4v1671775034550!5m2!1sru!2spl"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <span class="modal-btn location-modal__link-map "><a href="https://goo.gl/maps/maSsx5Yk2prJAdCM9" target="_blank"
      rel="noopener, noreferrer, nofollow" class="">
      <span class="transition"></span>
      <span class="gradient"></span>
      <span class="label">Open map</span></a></span>
  </picture>
</div>
<div class="overlay js-overlay-modal"></div>