<section class="container products products-bg">
	<p class="products__subtitle">100% natural</p>
	<h2 class="products__title">products</h2>
	<div class="products__wraper">
		<div class="products__card products__card--green">
			<div class="products__card-foto products__card-foto--green">
				<picture>
					<source media="(min-width: 1200px)"
						srcset="./images/products/ice-crem-dt1@1x.png 1x, ./images/products/ice-crem-dt1@2x.png 2x">
					<source media="(max-width: 1199px)"
						srcset="./images/products/ice-crem-mb1@1x.png 1x, ./images/products/ice-crem-mb1@2x.png 2x">
					<img class="products__card-label" src="./images/products/ice-crem-mb1@1x.png" loading="lazy"
						alt="ice cream">
				</picture>
			</div>
			<h3 class="products__card-title">ice cream</h3>
			<p class="products__card-subtitle">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
				natural stabilizer
			</p>
			<a class="products__card-link" href="#"><svg class="products__card-icon" width="40" height="16">
					<use href="./images/symbol-defs.svg#icon-arrow-long"></use>
				</svg></a>
		</div>

		<div class="products__card products__card--yellow">
			<div class="products__card-foto products__card-foto--yellow">
				<picture>
					<source media="(min-width: 1200px)"
						srcset="./images/products/ice-crem-dt2@1x.png 1x, ./images/products/ice-crem-dt2@2x.png 2x">
					<source media="(max-width: 1199px)"
						srcset="./images/products/ice-crem-mb2@1x.png 1x, ./images/products/ice-crem-mb2@2x.png 2x">
					<img class="products__card-label" src="./images/products/ice-crem-mb2@1x.png" loading="lazy"
						alt="ice coffee">
				</picture>
			</div>
			<h3 class="products__card-title">ice coffee</h3>
			<p class="products__card-subtitle">Fragrant invigorating drink created from 100% natural ingredients without
				the use of preservatives and flavor enhancers</p>
			<a class="products__card-link" href="#"><svg class="products__card-icon" width="40" height="16">
					<use href="./images/symbol-defs.svg#icon-arrow-long"></use>
				</svg></a>
		</div>

		<div class="products__card products__card--brown">
			<div class="products__card-foto products__card-foto--brown">
				<picture>
					<source media="(min-width: 1200px)"
						srcset="./images/products/ice-crem-dt3@1x.png 1x, ./images/products/ice-crem-dt3@2x.png 2x">
					<source media="(max-width: 1199px)"
						srcset="./images/products/ice-crem-mb3@1x.png 1x, ./images/products/ice-crem-mb3@2x.png 2x">
					<img class="products__card-label" src="./images/products/ice-crem-mb3@1x.png" loading="lazy"
						alt="milkshakes">
				</picture>
			</div>
			<h3 class="products__card-title">milkshakes</h3>
			<p class="products__card-subtitle">Sweet drinks based on milk and ice cream, supplemented with syrups,
				fruits, berries and other sweets of your choice</p>
			<a class="products__card-link" href="#"><svg class="products__card-icon" width="40" height="16">
					<use href="./images/symbol-defs.svg#icon-arrow-long"></use>
				</svg></a>
		</div>
	</div>
</section>