<section class="reviews">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="container">
        <div class="reviews__slider">
            <div class="slide">
                <div class="reviews__foto">
                    <img class="reviews__icon"
                        srcset="/src/images/customer-reviews/reviews-client.png 1x, /src/images/customer-reviews/reviews-client@2x.png 2x"
                        src="/src/images/customer-reviews/reviews-client.png" alt="client photo" width="85"
                        height="85" />
                </div>
                <div class="reviews__block">

                    <p>I love visiting your cafe.
                        You prepare the most delicious ice cream in Los Angeles!
                        In addition, you have beautiful serving, cozy atmosphere and polite staff.
                    </p>
                </div>
                <span class="reviews__name">Emily, Los Angeles
                </span>
            </div>
            <div class="slide">
                <div class="reviews__foto">
                    <img class="reviews__icon"
                        srcset="/src/images/customer-reviews/reviews-client.png 1x, /src/images/customer-reviews/reviews-client@2x.png 2x"
                        src="/src/images/customer-reviews/reviews-client.png" alt="client photo" width="85"
                        height="85" />
                </div>
                <div class="reviews__block">

                    <p>I love visiting your cafe.
                        You prepare the most delicious ice cream in Los Angeles!
                        In addition, you have beautiful serving, cozy atmosphere and polite staff.
                    </p>
                </div>
                <span class="reviews__name">Emily, Los Angeles
                </span>
            </div>
            <div class="slide">
                <div class="reviews__foto">
                    <img class="reviews__icon"
                        srcset="/src/images/customer-reviews/reviews-client.png 1x, /src/images/customer-reviews/reviews-client@2x.png 2x"
                        src="/src/images/customer-reviews/reviews-client.png" alt="client photo" width="85"
                        height="85" />
                </div>
                <div class="reviews__block">

                    <p> I love visiting your cafe.
                        You prepare the most delicious ice cream in Los Angeles!
                        In addition, you have beautiful serving, cozy atmosphere and polite staff.
                    </p>
                </div>
                <span class="reviews__name">Emily, Los Angeles
                </span>
            </div>
        </div>
    </div>
    </div>
</section>