<section>
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="container">
        <div class="reviews-slider">
            <div class="reviews-slider__slide">
                <div>
                    <img class="reviews__icon"
                        srcset="/src/images/customer-reviews/reviews-client.png 1x, /src/images/customer-reviews/reviews-client@2x.png 2x"
                        src="/src/images/customer-reviews/reviews-client.png" alt="client photo" width="85"
                        height="85" />
                </div>
                <div class="reviews__block">
                    <p>I love visiting your cafe.
                        You prepare the most delicious ice cream in Los Angeles!
                        In addition, you have beautiful serving, cozy atmosphere and polite staff.
                    </p>
                </div>
                <span class="reviews__name">Emily, Los Angeles
                </span>
            </div>
            <div class="reviews-slider__slide">
                <div>
                    <img class="reviews__icon"
                        srcset="/src/images/customer-reviews/reviews-client-men.png 1x, /src/images/customer-reviews/reviews-client-men@2x.png 2x"
                        src="/src/images/customer-reviews/reviews-client-men.png" alt="client photo" width="85"
                        height="85" />
                </div>
                <div class="reviews__block">

                    <p>Every day we come to you with friends after classes in college. We love your ice cream and casual
                        atmosphere!
                    </p>
                </div>
                <span class="reviews__name">Bryan, New-York
                </span>
            </div>
            <div class="reviews-slider__slide">
                <div>
                    <img class="reviews__icon"
                        srcset="/src/images/customer-reviews/reviews-client-ice.png 1x, /src/images/customer-reviews/reviews-client-ice@2x.png 2x"
                        src="/src/images/customer-reviews/reviews-client-ice.png" alt="client photo" width="85"
                        height="85" />
                </div>
                <div class="reviews__block">

                    <p> Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
                        excellent service - always
                        served politely and quickly!
                    </p>
                </div>
                <span class="reviews__name">Diana, Chicago
                </span>
            </div>
        </div>
    </div>

</section>